<h1>Basic button</h1>
<div style="display: flex; justify-content: space-between">
  <button bgColor="sharedRed10" fontColor="white" msButton size="normal">Basic button</button>
  <button icon="Add" msButton>Add button</button>
  <button icon="Add" msButton secondaryIcon="ChevronDown">Add button</button>
  <button icon="Add" msButton></button>
  <button icon="Add" msButton secondaryIcon="ChevronDown"></button>
  <button disabled="true" icon="Add" msButton>Disabled button</button>
</div>


<div>
  <h1>Theme</h1>
  <div style="display: flex; justify-content: space-between">
    <button msButton theme="standard">Standard</button>
    <button msButton theme="error">Error</button>
    <button icon="Add" msButton theme="info">Info</button>
    <button icon="Add" msButton secondaryIcon="ChevronDown" theme="success">Success</button>
    <button icon="Add" msButton secondaryIcon="ChevronDown" theme="warning"> Warning</button>
  </div>

</div>


<div>
  <h1>Outline</h1>
  <div style="display: flex; justify-content: space-between">

    <button msButton theme="standardOutline">Standard</button>
    <button msButton theme="errorOutline">Error</button>
    <button icon="Add" msButton theme="infoOutline">Info</button>
    <button icon="Add" msButton secondaryIcon="ChevronDown" theme="successOutline">Success</button>
    <button icon="Add" msButton secondaryIcon="ChevronDown" theme="warningOutline"> Warning</button>
  </div>

</div>


<div>
  <h1>Icon</h1>
  <div style="display: flex; justify-content: space-between">

    <button icon="Contact" msIconButton  theme="standard"></button>
    <button icon="Delete" msIconButton theme="errorOutline"></button>
    <button icon="Contact" msIconButton  theme="standardOutline"></button>
    <button icon="Delete" msIconButton theme="error"></button>
    <button icon="Add" msIconButton theme="info" [rounded]="true"></button>
    <button Icon="CheckMark" msIconButton size="small" [rounded]="true" theme="successOutline"></button>
    <button icon="Add" msIconButton size="small" [rounded]="true" theme="warningOutline"></button>
  </div>

</div>
